---
layout: default
---
<!-- Warn if any variables are missing -->
{% include require-variable var=page.date varname="date"
   source="panel front matter" %}
{% include require-variable var=page.title varname="title"
   source="panel front matter" %}

<!-- Construct things we need -->
{%- assign wtitle = page.title | prepend: "Panel: " -%}

{% include set-bssw-event-url title=wtitle %}

<h2>Miscellaneous Information for BSSw Events</h2>

<h3>Panel Entry for BSSw Monthly Digest</h3>

<section style="border: 3px; border-style: solid; padding: 1em">
<!-- ----- BEGIN ENTRY ----- -->
<h4 class="null">{{ wtitle }}</h4>
{{ page.date | date: "%A %B %d, %Y" }}<br />
Online, in the panel series <em>Strategies for Working Remotely</em><br />
<br />
{{ content }}
<br />
<a href="{{ bssw-event-url }}" target="_blank">Event Information &gt;</a><br />
<!-- ----- END ENTRY ----- -->
</section>

<h3>Entry for <a href="https://github.com/betterscientificsoftware/bssw.io/blob/master/Site/Homepage.md">Site/Homepage.md</a> Carousel</h3>
<section style="border: 3px; border-style: solid; padding: 1em">
<!-- ----- BEGIN ENTRY ----- -->
Slide0 L: {{ bssw-event-path }}
<!-- ----- END ENTRY ----- -->
</section>