---
layout: default
---
<h2>Connection Information Email</h2>

<!-- Warn if any variables are missing -->

{% include require-variable var=page.date varname="date"
   source="panel front matter" %}
{% include require-variable var=page.title varname="title"
   source="panel front matter" %}
{% include require-variable var=page.ecp-abbreviation varname="ecp-abbreviation"
   source="panel front matter" %}
{% include require-variable var=page.vtc-url varname="vtc-url"
   source="panel front matter" %}
{% include require-variable var=page.vtc-session varname="vtc-session"
   source="panel front matter" %}
{% include optional-variable var=page.vtc-password varname="vtc-password"
   source="panel front matter" %}

{% include require-variable var=site.ipo-archive-url varname="ipo-archive-url"
   source="config.yml" %}
{% include require-variable var=site.ecp-events-url varname="ecp-events-url"
   source="config.yml" %}
{% include require-variable var=site.ipo-subscription-url varname="ipo-subscription-url"
   source="config.yml" %}

<p><strong>Subject:</strong> Connection Info for Panel: {{ page.title }}</p>

<section style="border: 3px; border-style: solid; padding: 1em">
<p>Hello Panel Attendee!</p>

<p>This is a reminder that the next installment of the <em>Strategies
    for Working Remotely</em> panel series "<strong>{{ page.title
    }}</strong>" is scheduled for {{ page.date | date: "%A %B, %d, %Y
    at %I:%M %P %Z" }} and is expected to last about 90 minutes.</p>

<p>Below are a few important details that you should read in advance
of the panel.</p>

<p><u>Logistics</u></p>

<p>Join ZoomGov Meeting<br>
<a href="{{ page.vtc-url }}">{{ page.vtc-url }}</a><br>
Meeting ID: {{ page.vtc-session }}<br>
{% if page.vtc-password %}Password: {{ page.vtc-password }}<br>{% endif %}
<br>
One tap mobile<br>
+16692545252,,1618929902# US (San Jose)<br>
+16468287666,,1618929902# US (New York)
</p>

<p>Dial by your location<br>
        +1 669 254 5252 US (San Jose)<br>
        +1 646 828 7666 US (New York) <br>
  Meeting ID: {{ page.vtc-session }}<br>
Find your local number: <a href="https://exascaleproject.zoomgov.com/u/aZraUkiAM">https://exascaleproject.zoomgov.com/u/aZraUkiAM</a>
</p>

<p>Join by Skype for Business<br>
  <a href="{{ page.vtc-url }}">{{ page.vtc-url }}</a>
</p>

<p><u>During the Panel</u></p>

<p>Keep your Audio Muted – We will likely have over 200 participants
in the panel. We ask that you keep your audio muted and your video off
when not speaking.
</p>

<p>Questions? – We encourage you to ask questions during the
discussion portion of the session.  Due to the number of people
participating, we ask that enter your brief questions in the chat Zoom
functionality.  We will call on people to ask their question verbally
in the order received, curating for uniqueness.</p>

<p><u>After the Panel</u></p>

<p>Recording – We will record the panel and will let you know when the
video is available for viewing on the website.</p>

<p>Future *Strategies for Working Remotely* panel series discussions
 – Visit <a href="https://www.exascaleproject.org/all-training-events/">https://www.exascaleproject.org/all-training-events/</a>.  Check back often as we add new events on a regular basis. Or <a href="{{ site.ipo-subscription-url }}">sign up</a> for the IDEAS Productivity announcements mailing list for panel and other software-related events organized by the IDEAS Productivity project.</p>

<p>Sincerely,<br>
Ashley Barker & Elaine Raybourn<br>
Exascale Computing Project (ECP) and IDEAS Productivity Project
</p>
</section>
