---
layout: default
---
<h2>Content for MailChimp Announcement Message</h2>			 

<!-- Warn if any variables are missing -->

{% include require-variable var=page.date varname="date"
   source="webinar front matter" %}
{% include require-variable var=page.title varname="title"
   source="webinar front matter" %}
{% include require-variable var=page.event-id varname="event-id"
   source="webinar front matter" %}
{% include require-variable var=page.event-type varname="event-type"
   source="event front matter" %}
{% include require-variable var=page.panelist-ids varname="panelist-ids"
   source="webinar front matter" %}
{% include require-variable var=page.moderator-ids varname="moderator-ids"
   source="webinar front matter" %}
{% include require-variable var=page.ecp-abbreviation varname="ecp-abbreviation"
   source="event front matter" %}

{% include require-variable var=site.ipo-archive-url varname="ipo-archive-url"
   source="config.yml" %}
{% include require-variable var=site.mc-audience varname="mc-audience"
   source="_config.yml" %}
{% include require-variable var=site.mc-from-name varname="mc-from-name"
   source="_config.yml" %}
{% include require-variable var=site.mc-from-email varname="mc-from-email"
   source="_config.yml" %}

<!-- Construct things that we need -->
{% include format-filled-number number=page.event-id template="000" %}
{% assign event-id-filled = filled-number %}

{% include ipo-event-url event-id=page.event-id %} 

{% assign psize = page.panelist-ids | size %}
{% capture plabel %}{% include emit-plural text="Panelist" count=psize %}{% endcapture %}

{% if page.panelist-ids and page.panelist-ids != empty %}
  {% for pid in page.panelist-ids %}
    {%- assign p = site.people | where: "person-id", pid -%}
    {%- capture pafil -%}{{ p[0].firstname }} {{ p[0].lastname }} ({{- p[0].affiliations | array_to_sentence_string | lstrip | rstrip -}}){%- endcapture -%}
    {%- assign pstring = pstring | append: "<li>" | append: pafil | append: "</li>" -%}

    {% if p[0].content != empty %}
      {% assign pbio = pbio | append: p[0].content | markdownify -%}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign pstring = "<em>to be announced</em>" %}
{% endif %}

{% assign msize = page.moderator-ids | size %}
{% capture mlabel %}{% include emit-plural text="Moderator" count=msize %}{% endcapture %}

{% if page.moderator-ids and page.moderator-ids != empty %}
  {% for mid in page.moderator-ids %}
    {%- assign m = site.people | where: "person-id", mid -%}
    {%- capture mafil -%}{{ m[0].firstname }} {{ m[0].lastname }} ({{- m[0].affiliations | array_to_sentence_string | lstrip | rstrip -}}){%- endcapture -%}
    {%- assign mstring = mstring | append: "<li>" | append: mafil | append: "</li>" -%}

    {% if m[0].content != empty %}
      {% assign mbio = mbio | append: m[0].content | markdownify -%}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign mstring = "<em>to be announced</em>" %}
{% endif %}

<h3>Audience Update Information</h3>
<p><strong>Tag:</strong> {{ page.event-type }}{{ event-id-filled}}-{{ page.ecp-abbreviation }}</p>

<h3>Campaign Information</h3>
<p><strong>Name:</strong> {{ page.event-type }}{{ event-id-filled }}-announcement</p>
<p><strong>To:</strong>
    <ul>
        <li><strong>Audience:</strong> <em>{{ site.mc-audience }}</em></li>
        <li><strong>Segment or Tag:</strong> <em>All subscribers in audience</em></li>
        <li><strong>Personalize the "To" field:</strong> ✓</li>
    </ul>
</p>
<p><strong>From:</strong>
  <ul>
      <li><strong>Name:</strong> {{ site.mc-from-name }}</li>
      <li><strong>Email address:</strong> {{ site.mc-from-email }}</li>
  </ul>
</p>
<p><strong>Subject:</strong> Upcoming panel discussion: {{ page.title }}</p>

<h3>Content</h3>
<p><strong>Title Block</strong><br>
  <em>Recommended procedure: 
  <ol>
      <li>View HTML version of this page in browser using "view source" feature (often
          ctrl-u, or via context (right-click) menu.</li>
      <li>In MailChimp, open the block and go into HTML mode (`<>`).</li>
      <li>Cut-and-paste HTML markup between BEGIN/END comment markers
          into MailChimp editor.</li>
  </ol>
</em>
</p>
<section align="center" style="border: 3px; border-style: solid; padding: 1em">
<!-- ----- BEGIN TITLE BLOCK ----- -->
  <div style="text-align: center;"><strong><span style="font-size:18px">{{ page.title }}</span><br>
{% if page.end-date %}
  {{ page.date | date: "%l:%M%P"}}-{{ page.end-date | date: "%-l:%M%P" }} {{ page.date | date: "%Z"}}<br>
{% else %}
  {{ page.date | date: "%l:%M%P %Z"}}<br>
{% endif %}
{{ page.date | date: "%A, %B %e, %Y"}}
</strong></div>
<!-- ----- END TITLE BLOCK ----- -->
</section>

<p><strong>Body Block</strong></p>
<section style="border: 3px; border-style: solid; padding: 1em">
{% if pstring %}
<strong>{{ plabel }}:</strong>
<ul>
    {{ pstring | markdownify | remove: "<p>" | remove: "</p>" | strip }}
</ul>
{% endif %}

{% if mstring %}
<strong>{{ mlabel }}:</strong>
<ul>
    {{ mstring | markdownify | remove: "<p>" | remove: "</p>" | strip }}
</ul>
{% endif %}

<strong>Abstract:</strong> {{ content | markdownify | remove: "<p>" | remove: "</p>" | strip }}
</section>

<p><strong>Registration Button URL: </strong> {{ page.registration-url }}</p>

<p><strong>Recordings of Previous Events Slug</strong><br>
<em>Note: This information is used in announcements of <em>future</em> panels. Not the current one.</em></p>
<section style="border: 3px; border-style: solid; padding: 1em">
<ul><li><a href="{{ ipo-event-url }}">{{ page.title }}</a> ({{ page.date | date: "%F" }})</li></ul>
</section>