---
layout: default
---
<h2>Content for MailChimp Followup Message</h2>			 

<!-- Warn if any variables are missing -->

{% include require-variable var=page.date varname="date"
   source="event front matter" %}
{% include require-variable var=page.title varname="title"
   source="event front matter" %}
{% include require-variable var=page.event-type varname="event-type"
   source="event front matter" %}
{% include require-variable var=page.event-id varname="event-id"
   source="event front matter" %}
{% include require-variable var=page.survey-public-url varname="survey-public-url"
   source="event front matter" %}
{% include require-variable var=page.ecp-abbreviation varname="ecp-abbreviation"
   source="event front matter" %}

{% include require-variable var=site.ipo-archive-url varname="ipo-archive-url"
   source="_config.yml" %}
{% include require-variable var=site.mc-audience varname="mc-audience"
   source="_config.yml" %}
{% include require-variable var=site.mc-from-name varname="mc-from-name"
   source="_config.yml" %}
{% include require-variable var=site.mc-from-email varname="mc-from-email"
   source="_config.yml" %}

<!-- Construct things that we need -->
{% include format-filled-number number=page.event-id template="000" %}
{% assign event-id-filled = filled-number %}

{% include ipo-event-url event-id=page.event-id %}

<h3>Audience Update Information</h3>
<p><strong>Tag:</strong> {{ page.event-type }}{{ event-id-filled}}-{{ page.ecp-abbreviation }}</p>

<h3>Campaign Information</h3>
<p><strong>Name:</strong> {{ page.event-type }}{{ event-id-filled }}-followup</p>
<p><strong>To:</strong>
    <ul>
        <li><strong>Audience:</strong> <em>{{ site.mc-audience }}</em></li>
        <li><strong>Segment or Tag:</strong> {{ page.event-type }}{{ event-id-filled}}-{{ page.ecp-abbreviation }}</li>
        <li><strong>Personalize the "To" field:</strong> ✓</li>
    </ul>
</p>
<p><strong>From:</strong>
    <ul>
        <li><strong>Name:</strong> {{ site.mc-from-name }}</li>
        <li><strong>Email address:</strong> {{ site.mc-from-email }}</li>
    </ul>
</p>
<p><strong>Subject:</strong> Panel recording available: {{ page.title }}</p>

<h3>Content</h3>
<p><strong>Title Block</strong><br>
<em>Recommended procedure: 
    <ol>
        <li>View HTML version of this page in browser using "view source" feature (often
            ctrl-u, or via context (right-click) menu.</li>
        <li>In MailChimp, open the block and go into HTML mode (`<>`).</li>
        <li>Cut-and-paste HTML markup between BEGIN/END comment markers
            into MailChimp editor.</li>
    </ol>
</em>
</p>
<section align="center" style="border: 3px; border-style: solid; padding: 1em">
<!-- ----- BEGIN TITLE BLOCK ----- -->
<h2 class="null" style="text-align: center;">
        <a href="{{ ipo-event-url}}" target="_blank"><span style="font-size:18px"><strong>{{ page.title }}</strong></span></a></h2>
        <div style="text-align: center;"><strong>Presented on {{ page.date | date: "%A, %B %e, %Y"}}</strong></div>
<!-- ----- END TITLE BLOCK ----- -->
</section>

<h2 class="null" style="text-align: center;"></h2>

{% if page.survey-public-url %}
<p><strong>Survey URL for feedback block: </strong> {{ page.survey-public-url }}</p>
{% else %}
<p><strong><em><font color="red">WARNING: public-survey-url not present.  Recommend modifying message template to remove reference to survey.</font></em></strong></p>
{% endif %}