---
layout: default
---
{% include upcoming-event event=page.date %}
{% include format-date-range full-time=upcoming start=page.date end=page.end-date %}

<!-- Warn if any variables are missing -->

{% include require-variable var=page.date varname="date"
   source="panel front matter" %}
{% include require-variable var=page.title varname="title"
   source="panel front matter" %}
{% include require-variable var=page.event-id varname="event-id"
   source="panel front matter" %}
{% include require-variable var=page.panelist-ids varname="panelist-ids"
   source="panel front matter" %}
{% include require-variable var=page.moderator-ids varname="moderator-ids"
   source="panel front matter" %}
{% if upcoming %}
  {% include require-variable var=page.registration-url varname="registration-url"
     source="panel front matter" %}
{% endif %}


<!-- Construct things we need --> 
{% assign psize = page.panelist-ids | size %}
{% if psize == 1 %}
  {%- assign plabel = "Panelist:" -%}
  {%- assign blabel = "Panelist Bio:" -%}
{% else %}
  {%- assign plabel = "Panelists:" -%}
  {%- assign blabel = "Panelist Bios:" -%}
{% endif %}

{% if page.panelist-ids and page.panelist-ids != empty %}
  {% for pid in page.panelist-ids %}
    {%- assign p = site.people | where: "person-id", pid -%}
    {%- capture pafil -%}{{ p[0].firstname }} {{ p[0].lastname }} ({{- p[0].affiliations | array_to_sentence_string | lstrip | rstrip -}}){%- endcapture -%}
    {%- assign pstring = pstring | append: "<li>" | append: pafil | append: "</li>" -%}

    {% if p[0].content != empty %}
      {% assign pbio = pbio | append: p[0].content | markdownify -%}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign pstring = "<em>to be announced</em>" %}
{% endif %}

{% assign msize = page.moderator-ids | size %}
{% if msize == 1 %}
  {%- assign mlabel = "Moderator:" -%}
  {%- assign mblabel = "Moderator Bio:" -%}
{% else %}
  {%- assign mlabel = "Moderators:" -%}
  {%- assign mblabel = "Moderator Bios:" -%}
{% endif %}

{% if page.moderator-ids and page.moderator-ids != empty %}
  {% for mid in page.moderator-ids %}
    {%- assign m = site.people | where: "person-id", mid -%}
    {%- capture mafil -%}{{ m[0].firstname }} {{ m[0].lastname }} ({{- m[0].affiliations | array_to_sentence_string | lstrip | rstrip -}}){%- endcapture -%}
    {%- assign mstring = mstring | append: "<li>" | append: mafil | append: "</li>" -%}

    {% if m[0].content != empty %}
      {% assign mbio = mbio | append: m[0].content | markdownify -%}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign mstring = "<em>to be announced</em>" %}
{% endif %}



{% if upcoming %}<h2>Upcoming Panel</h2>{% else %}<h2>Panel Details</h2>{% endif %}

<section>
  <h3>{{ page.event-id }}. 
    <strong>{{ page.title }}</strong>
    {% if upcoming %}
      {% if page.registration-url %}
        [<a href="{{ page.registration-url }}">Register</a>]
      {% endif %}
    {% endif %}
  </h3> 
  <ul>
    <li style="margin-top: 1em"><strong>Date:</strong> {{ date-range }}</li>
    {% if pstring %}
      <li style="margin-top: 1em"><strong>{{ plabel }}</strong>
	<ul>
          {{ pstring | markdownify | remove: "<p>" | remove: "</p>" | strip }}
	</ul>
      </li>
    {% endif %}
    {% if mstring %}
    <li style="margin-top: 1em"><strong>{{ mlabel }}</strong>
	<ul>
          {{ mstring | markdownify | remove: "<p>" | remove: "</p>" | strip }}
	</ul>
      </li>
    {% endif %}

    {% if page.archives %}
    <li style="margin-top: 1em"><strong>Artifacts:</strong>
      {% include format-artifact-row artifacts=page.archives 
        yt-url=site.youtube-watch-url %}
    </li>
    {% else %}{% unless upcoming %}
      <li style="margin-top: 1em"><strong>Artifacts:</strong> <em>to be published</em>
      </li>{% endunless %}
    {% endif %}

    <li style="margin-top: 1em"><strong>Abstract:</strong> {{ content }}</li>
  </ul>

  {% comment %}
    Embed embeddable archive items below the Abstract
  {% endcomment %}	  
  {% for i in page.archives %}
    {% if i.yt-video-id %}
      {% unless i.dont-embed %}
        <p align="center">{% include youtube-embed id=i.yt-video-id %}</p>
      {% endunless %}
    {% endif %}
  {% endfor %}

  {% if pbio %}
    <strong style="margin-top: 1em">{{ blabel }}</strong>
    {{ pbio }}
  {% endif %}    

  {% if mbio %}
    <strong style="margin-top: 1em">{{ mblabel }}</strong>
    {{ mbio }}
  {% endif %}    
</section>
