---
layout: default
---
<h2>Content for YouTube</h2>			 

{%- comment -%}
<!-- Warn if any variables are missing -->

{% include require-variable var=page.date varname="date"
   source="webinar front matter" %}
{% include require-variable var=page.title varname="title"
   source="webinar front matter" %}
{% include require-variable var=page.event-id varname="event-id"
   source="webinar front matter" %}
{% include require-variable var=page.panelist-ids varname="panelist-ids"
   source="webinar front matter" %}
{% include require-variable var=page.moderator-ids varname="moderator-ids"
   source="webinar front matter" %}

{% include require-variable var=site.ipo-archive-url varname="ipo-archive-url"
   source="config.yml" %}
{% include require-variable var=site.youtube-title-max varname="youtube-title-max"
   source="config.yml" %}
{%- endcomment -%}

<!-- Construct things that we need -->
{%- capture event-id-filled -%}{%- include emit-filled-number number=page.event-id template="000" -%}{%- endcapture -%}
			 
{%- assign tfull = "Panel " | append:  event-id-filled | append: ": " | append: page.title -%}

{% assign tlength = tfull | size %}

{% include set-date-range full-time=false start=page.date end=page.end-date %}

{% assign psize = page.panelist-ids | size %}
{% capture plabel %}{% include emit-plural text="Panelist" count=psize %}{% endcapture %}

{% assign msize = page.moderator-ids | size %}
{% capture mlabel %}{% include emit-plural text="Moderator" count=msize %}{% endcapture %}

<h3>Basic Tab</h3>

{% if tlength > site.youtube-title-max %}
<p><strong><em><font color="red">WARNING: Full title is longer than YouTube limit of {{ site.youtube-title-max }} characters.</font></em></strong></p>

  <p><strong>Full title:</strong> {{ tfull }}</p>
  <p><strong>Truncated title:</strong> {{ tfull | truncate: site.youtube-title-max, "" }}
    <p><em>Preferred alternative: edit title to make sense at {{ site.youtube-title-max }} characters.</em></p>
{% else %}
<p><strong>Title:</strong> {{ tfull }}</strong></p>
{% endif %}


<p><strong>Description:</strong><br>
<section style="border: 3px; border-style: solid; padding: 1em">
{% if tlength > site.youtube-title-max %}
Full title: {{ page.title }}<br>
{% endif %}
{{ plabel }}: {% include emit-name-affiliation-string pids=page.panelist-ids people=site.people if_empty="<em>to be announced</em>" %}<br>
<br>
{{ mlabel }}: {% include emit-name-affiliation-string pids=page.moderator-ids people=site.people if_empty="<em>to be announced</em>" %}<br>
<br>
Presented on: {{ date-range }}<br>
<br>
{{ content }}

For more information about the Strategies for Working Remotely panels, including
slides and other materials for this presentation, other presentations in
the series, and a mailing list for announcements of future panels,
please visit {{ site.ipo-archive-url }}
</section>

<p><strong>Tags:</strong> Strategies for Working Remotely panels</p>
  
<h3>Advanced Tab</h3>

<p><strong>Recording Date:</strong> {{ page.date | date: "%b %d, %Y" }}</p>

</section>
